<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MAXCONNECTIONCOUNT" value="3"/>
    <add key="PORT" value="8181"/>
    <add key="WEBSOCKETORIGIN" value="http://localhost"/>
    <add key="WEBSOCKETLOCATION" value="ws://localhost:8181/imprimir"/>
    <add key="PUERTOSALIDA" value="lpt1"/>
    <add key="IMPRESORA" value="EPSON TM-U220 Receipt"/>
  </appSettings>
</configuration>
